div {
  font-family: sans-serif;
}

#remaining {
  margin-bottom: 1em;
}

.column {
  display: inline-block;
  float: left;
  margin-top: 2em;
  padding: 1em;
  padding-right: 2em;
  border: 1px solid black;
}

#anagrams {
  border-top: 1px solid black;
}

#subwords {
  width: 150px;
  height: 500px;
  overflow: auto;
}