body {
  font-family: sans-serif;
}

div {
  
}

textarea, input {
  font-size: 100%;
}

h1 {
  text-align: center;
}

.section {
  border-top: 1px solid black;
  margin-bottom: 1em;
}

.column {
  display: inline-block;
  float: left;
  margin-top: 2em;
  padding: 1em;
  padding-right: 2em;
  border: 1px solid black;
}

#subwords {
  width: 20em;
  height: 40em;
  overflow: auto;
}

.subword {
  list-style-type: none;
  color: darkblue;
  cursor: pointer;
}