<div>
  <h2>New anagram text</h2>

  <%= form_tag("/anagrams", method: "post") do %>
    <%= label_tag(:text, "Enter text:") %>
    <%= text_field_tag(:text) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>
