<header class="colored">
  <h1>Anagram Maker 1.0</h1>
  <%= link_to "new anagram", {controller: "anagrams", action: "new"}, class: "header-link" %>
  <%= link_to "index", {controller: "anagrams", action: "index"}, class: "header-link" %>
</header>